<nav class="navbar navbar-expand-lg navbar-light mb-5" style="background-color: #14b2cc;">
    <a class="navbar-brand text-light" href="#">Recebimento de Cestas Básicas</a>
    
  <div class="navbar-nav ml-auto px-5">
    <a class="nav-link text-light" href="#">Home</a>
    <a class="nav-link text-light" routerLink="/cadastro">Cadastrar</a>
    <a class="nav-link text-light" routerLink="/verificar">Verificar</a>
    <a class="nav-link text-light" routerLink="/login">Login</a>
  </div>
  
</nav>
