<nav class="navbar navbar-expand-lg navbar-light mb-5" style="background-color: #14b2cc;">
    <a class="navbar-brand text-light" href="#">Recebimento de Cestas Básicas</a>
    
  <div class="navbar-nav ml-auto px-5">
    <!-- <a class="nav-link text-light" routerLink="/cadastro">Cadastrar</a> -->
    <app-btn-create-cadastro (cadastroCreated)="onCadastroCreated($event)"></app-btn-create-cadastro>
    <a class="nav-link text-light" href="#">Log Out</a>
  </div>
  
</nav>
<div class="container">
    
    <div class="text-center mt-5">
        <h2>Listagem de cadastrados</h2>
        
    </div>

    <table class="table mt-5">
        <thead>
            <tr>
                <th>NOME</th>
                <th>CPF</th>
                <th>ENDEREÇO</th>
                <th>TELEFONE</th>
                <th>EMAIL</th>
                <th></th>
                <th></th>
                
            </tr>
        </thead>

        <tbody *ngFor="let cadastro of cadastros"> 
            <tr>
                <td>{{ cadastro.nome }}</td>
                <td>{{ cadastro.cpf }}</td>
                <td>{{ cadastro.endereco }}</td>
                <td>{{ cadastro.telefone }}</td>
                <td>{{ cadastro.email }}</td>
                <td>
                    <app-btn-delete-cadastro [cadastro]="cadastro"></app-btn-delete-cadastro>
                    <app-btn-edit-cadastro [cadastro]="cadastro"></app-btn-edit-cadastro>
                    <app-btn-verificar-cadastrado [verifica]="cadastro"></app-btn-verificar-cadastrado>
                </td>
            </tr>

        </tbody>

    </table>

</div>