<div>
    <button class="btn btn-info float-right" (click)="openCadastroFormModal(cadastroModalCreateTemplate)">
        Cadastrar cliente
    </button>
</div>
<ng-template #cadastroModalCreateTemplate>
    <form [formGroup]="cadastroForm" (ngSubmit)="createCadastro()">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Novo cliente</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input type="text" formControlName="nome" class="form-control" style="width: 100%;">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nome">CPF</label>
                        <input type="text" formControlName="cpf" class="form-control" style="width: 100%;">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nome">Endereço</label>
                        <input type="text" formControlName="endereco" class="form-control" style="width: 100%;">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nome">Telefone</label>
                        <input type="text" formControlName="telefone" class="form-control" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container">
                <button class="btn btn-info" type="submit" [disabled]="cadastroForm.invalid">
                    Cadastrar
                </button>
                <button type="button" class="btn btn-light ml-2" (click)="closeModalCadastroForm()">
                    Cancelar
                </button>
            </div>

        </div>
    </form>
</ng-template>
