
<button class="btn btn-light btn-xs mr-2" (click)="openCadastroFormModal(cadastroModalEditTemplate)">
    Verificar Dados
</button>

<ng-template #cadastroModalEditTemplate>
    <form [formGroup]="cadastroForm" (ngSubmit)="editCadastro()">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Dados do Cadastrado</h4>
            <button type="button" class="close pull-right" aria-label="Fechar" (click)="closeModalCadastroForm()">
            </button>
        </div>

        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <span class="font-weight-bold text-uppercase h6">nome: </span>
                            <input required type="text"  formControlName="nome" value=""
                                class="form-control" style="width: 100%;" [(ngModel)]="nome" readonly>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <span class="font-weight-bold text-uppercase h6">cpf: </span>
                            <input required type="text"  formControlName="cpf" value=""
                                class="form-control" style="width: 100%;" [(ngModel)]="cpf" readonly>
                        </fieldset>
                      
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <span class="font-weight-bold text-uppercase h6">data de nascimento: </span>
                            <input required type="text"  formControlName="dataNascimento"
                                class="form-control" style="width: 100%;" [(ngModel)]="dataNascimento" readonly>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <span class="font-weight-bold text-uppercase h6">endereço: </span>
                            <input required type="text"  formControlName="endereco" 
                                class="form-control" style="width: 100%;" [(ngModel)]="endereco" readonly>
                        </fieldset> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <span class="font-weight-bold text-uppercase h6">telefone: </span>
                            <input required type="text"  formControlName="telefone" value=""
                                class="form-control" style="width: 100%;" [(ngModel)]="telefone" readonly>
                        </fieldset>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <span class="font-weight-bold text-uppercase h6">email: </span>
                            <input required type="text"  formControlName="email" value=""
                                class="form-control" style="width: 100%;" [(ngModel)]="email" readonly>
                        </fieldset>

                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <span class="font-weight-bold text-uppercase h6">Data de Recebimento </span>
                            <input required type="text"  formControlName="dataRecebimento" value=""
                                class="form-control" style="width: 100%;" [(ngModel)]="dataRecebimento">
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class=" modal-footer">
            <div class="container text-center">
                <!-- <button class="btn btn-info" type="submit">Agendar
                </button> -->
                <button type="submit" class="btn btn-info " (click)="closeModalCadastroForm()">Salvar
                </button>
                <button type="button" class="btn btn-light ml-2" (click)="closeModalCadastroForm()"> Voltar </button>
            </div>
        </div>
    </form>

</ng-template>
