<!-- <div class="container">
    <div class="border border-dark">
        <h1> Sobre</h1>
    </div>
    <div class="border border-dark">
        <img src="" alt="">
    </div>
    
</div> -->
<div class="container">
    <h1 >Sobre</h1>
   <div class="row">
        <div class="col-md-8 mb-5">
           
            <p class="text-justify"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus fuga voluptatum beatae repellat soluta earum, nulla possimus vel ut enim doloremque quos amet, alias quod itaque sint accusamus cumque et.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate aliquid obcaecati ducimus deleniti consequuntur possimus reprehenderit, quod cum! Eaque aperiam iste cum perspiciatis. Quis culpa temporibus dicta quasi expedita iure?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias omnis ratione, enim veniam consequuntur quod eveniet ipsam dolor aperiam unde placeat, numquam amet dicta dignissimos, voluptates odio nobis nisi. Sint?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi totam sapiente culpa consequuntur assumenda distinctio laboriosam voluptates velit ipsa illum, recusandae commodi aliquid expedita, impedit sequi repellendus dolore vel vitae!lorem
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id officia nesciunt modi nisi vel non qui. Temporibus, voluptas explicabo corporis, suscipit libero voluptatibus minus natus delectus commodi, fugiat deserunt eaque?</p>
        </div>
       <div class="col-md-4">
           <div class="imgAbt border border-dark">
               <img width="220" height="220" src="" />
           </div>
       </div>
      
   </div>
</div>
